<!DOCTYPE html PUBLIC"-//W3C//DTDXHTML1.0Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlnshtmlxmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <script src="/iclock/media/jslib/i18n.js"></script>
    <script src="/iclock/media/jslib/jquery.js"></script>
    <!--<script type="text/javascript" src="/media/easyui/jquery-1.8.0.min.js"></script>>-->
    <script src="/iclock/media/jslib/jquery.plus.js"></script>
    <script src="/iclock/media/jslib/jquery.perciformes.js"></script>
    <script src="/iclock/media/jslib/dept-emp.treeview.js"></script>
    <script src="/iclock/media/jslib/jquery.treeview.js"></script>
    <script src="/iclock/media/jslib/pg.js"></script>
    <script src="/iclock/media/jslib/i18n_en.js"></script>
    <title>Change password</title>
    <link rel="stylesheet" type="text/css" href="/iclock/media/css/jquery.treeview.css" />
    <link rel="stylesheet" id='css_sf' type="text/css" href="/iclock/media/css/sf.css" />
    <link rel="stylesheet" id='css_base' type="text/css" href="/iclock/media/css/base.css" />




    <!--<script src="/media/jslib/core.js"></script>
<script src="/media/jslib/calendar.js"></script>
<script src="/media/jslib/DateTimeShortcuts.js"></script>
<script src="/media/jslib/flexigrid.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="/media/css/flexigrid.css" />-->
<!--<link href="/media/css/changelists.css" type="text/css" rel="stylesheet">-->
<!--<link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
<link rel="stylesheet" type="text/css" href="/media/css/iclockbox.css" />-->
{% load i18n %}

<script type="text/javascript">
    function myFunction() {
        var num = document.getElementById("new_password1").value;
        var num = $("#id_new_password1").val();
        num = num.length;
        var arr = str.match(/[^\x00-\x80]/ig);
        if (arr != null) num += arr.length;
        if (num < 4) {
            alert("输入字符串超过10个字符！");
        }

    }
</script>

{% block content %}

<!--<h1>{% trans 'Password change' %}</h1>-->
    
<body class="">
<div id="container">
        

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
                
            
            <img style="float: left; height: 35px;padding-left: 30px;" src="/iclock/media/img/zklogo2.png"/>
            <h1 id="site-name" style="float: left;">WDMS</h1>

            <span  style="float: left; position: absolute;margin-left: 42px;">
                <ul id="nav"  class="nav" style="float: left; left: 0px;z-index: 800;">
        


                    <li>
                        <a class="mainMenu" href="javascript:void(0);">Device</a>
                        <ul>
                
                            <li><a href="/iclock//data/iclock/">Device Maintenance</a>
                
                            <li><a href="/iclock//data/_checkoplog_">Transaction Monitor</a></li>
                
                
                        </ul>
                    </li>

                    <li>
                        <a class="mainMenu" href="javascript:void(0);">Data</a>
                        <ul>
                            <li><a href="/iclock//data/department/">Department</a></li>
                            <li><a href="/iclock//data/employee/">Employee</a></li>
                            <li><a href="/iclock//data/transaction/">Transaction</a></li>
                            <!-- (3760)Import Employee Page    by Louis 2014-06-05-->                           
                            <li><a href="/iclock/data/importEmp">Import Employee</a></li>                          
                            <li><a href="/iclock/data/company/">Zone</a></li>
                            <li><a href="/iclock/data/client/">Client</a></li>
                
                        </ul>
                    </li>

                    <li>
                        <a class="mainMenu" href="javascript:void(0);">Log</a>
                        <ul>
                            <li><a href="/iclock//data/oplog/">Device Operation</a></li>
                            <li><a href="/iclock//data/devlog/">Device Data</a></li>
                            <li><a href="/iclock//data/devcmds/">Device Command</a></li>
                            <li><a href="/iclock//data/adminLog/">Admin Operation</a></li>
                           
                            
                        </ul>
                    </li>
                    <li>
                        <a class="mainMenu" href="javascript:void(0);">System</a>
                        <ul>
                            <li><a href="/iclock//data/Group/">Group Management</a></li>
                            <li><a href="/iclock//data/User/">Admin Management</a></li>
                            <li><a href="/iclock/data/license/1/">License</a></li>
                            
                        </ul>
                    </li>
        
                </ul>
            </span>



            <!-- END Container -->
        </div>
    </div>
    <br/>
        <div id="content" style="vertical-align: middle; overflow: auto; padding-bottom: 150px; margin-top: 40px;" class="colM">
        <form action="" method="post">
            <table>
                {{ form.as_table }}
            </table>
            <p>
                <input type="submit" onclick="myFunction()" value="{% trans 'Change my password' %}" />
            </p>
        </form>
    </div>
    
    
    

</div>



<div class="footer">
    <a href='http://www.zkteco.com/'>CopyRight: ZKTeco Inc®. 2010-2015<br /></a>
</div>
<script>
    $(function() {
        $('.nav li').sfHover();
    });
</script>
{% endblock %}
