<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PyISAPIe" />
            <add name="PyISAPIe" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\iclockSvr\PyISAPIe\PyISAPIe.dll" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    </system.webServer>
</configuration>
